body {
  background-color: #191d19;
  color: #bbbbbb;
}

a:link {
  color: #055bde;
}

a:visited {
  color: #7d30d5;
}

h1 {
  color: #fe9be6;
}

h2 {
  color: #d883c3;
}

h3 {
  color: #a26392;
}

.colored {
  color: #e8b8e8;
}
