@import '../theme/tokens.css';
@import '../theme/colors.module.css';
@import '../theme/typography.module.css';
@import '../theme/theme.light.css' (prefers-color-scheme: light);
@import '../theme/theme.dark.css' (prefers-color-scheme: dark);

a {
  color: var(--md-sys-color-primary);
}
a:visited {
  color: var(--md-sys-color-tertiary);
}
